.App {
  text-align: center;
  margin: 0 auto;
}

#drum-container {
  margin: 50px;
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
}

.drum-pad {
  width: 100px;
  height: 100px;
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playing {
  background-color: aqua;
}